body.index {
  font-family: "Inter";
  font-weight: 300;
  background-color: #0a0a0a;
}
body.index a {
  text-decoration: none;
}
body.index .container {
  padding: 2%;
}
body.index .container .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}
body.index .container .block .header {
  margin: 1.5% auto;
  text-align: center;
}
body.index .container .block .header .animated {
  background: linear-gradient(-45deg, #6355a4, #6355a4, #cbfb45, #cbfb45);
  background-size: 300%;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 5s ease-in-out infinite;
  -moz-animation: animated_text 5s ease-in-out infinite;
  -webkit-animation: animated_text 5s ease-in-out infinite;
  font-family: Inter;
  color: #dadada;
  padding-bottom: 1.5%;
}
@-webkit-keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
body.index .container .block .header h1 {
  font-weight: 600;
  font-size: 11rem;
}
body.index .container .block .header h2 {
  font-weight: 200;
  font-size: 1.4rem;
  color: #dadada;
}
body.index .container .block .header h2 b {
  color: #cbfb45;
}
body.index .container .block .header h2 a {
  color: #cbfb45;
  font-weight: 400;
}
body.index .container .block .header h2 a:hover {
  color: #515151;
}
body.index .items {
  padding-top: 2.5%;
  padding-bottom: 5%;
  width: 100%;
}
body.index .items .items-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(585px, 1fr));
  place-items: center;
  -webkit-column-gap: 1.5%;
     -moz-column-gap: 1.5%;
          column-gap: 1.5%;
  row-gap: 3%;
}
body.index .items .block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 450px;
  width: 585px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #dadada;
  background-color: #1e1e1e;
  cursor: help;
}
body.index .items .block-item:hover {
  color: #dadada;
  background-color: #0a0a0a;
  outline: 1px solid #cbfb45;
}
body.index .items .block-item:hover h1 {
  color: #cbfb45;
}
body.index .items .block-item h2 {
  margin: 4% 0 5% 5%;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 200;
  color: bl;
}
body.index .items .block-item h1 {
  margin: 9% 0 1% 5%;
  font-size: 2.5rem;
  font-weight: 500;
}

@media only screen and (min-width: 360px) and (max-device-width: 1366px) {
  body.index {
    padding-bottom: 100px;
  }
  body.index .container .block .header h1 {
    font-weight: 600;
    font-size: 3rem;
  }
  body.index .container .block .header h2 {
    font-weight: 200;
    font-size: 1rem;
    padding: 8%;
    color: #dadada;
  }
  body.index .container .block .header h2 b {
    color: #cbfb45;
  }
  body.index .container .block .header h2 a {
    color: #cbfb45;
    font-weight: 400;
  }
  body.index .container .block .header h2 a:hover {
    color: #515151;
  }
  body.index .items .items-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    place-items: center;
    -webkit-column-gap: 1.5%;
       -moz-column-gap: 1.5%;
            column-gap: 1.5%;
    row-gap: 1.5%;
  }
  body.index .items .block-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 225px;
    width: 325px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #dadada;
    background-color: #1e1e1e;
    cursor: help;
  }
  body.index .items .block-item h2 {
    margin: 4% 0 5% 6%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 200;
    color: bl;
  }
  body.index .items .block-item h1 {
    margin: 16% 0 1% 6%;
    font-size: 2.5rem;
    font-weight: 500;
  }
}