$black: #0A0A0A;
$white: #DADADA;
$grey: #515151;

body.drag-drop {
    font-family: Inter;
    background-color: $black;
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    overflow: hidden;
    margin: 0;

    * {
        box-sizing: border-box;
      }

      .row {
        display: flex;
        width: 600px;
        justify-content: space-between;
        margin-bottom: 1rem;
      }
      
      .col-header {
        text-align: center;
        width: 150px;
        // box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
        border-radius: 20px;
        padding: 0.8rem 1rem;
        color: #f7f6f7;
      }
      
      .item {
        width: 150px;
        height: 66px;
        border: 1px solid #eee;
        box-shadow: 1px 1px 15px rgba(109, 109, 109, 0.5);
        border-radius: 20px;
        background: $black;
        padding: 0.6rem 1rem;
        cursor: grab;

        &  h1 {
            color: #828282;
            text-align: center;
            font-size: 1rem;
            font-weight: 400;
        }
      }
      
      .item:active {
        cursor: grabbing;
      }
      
      .placeholder {
        width: 150px;
        height: 250px;
      }
      
      .start {
        background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
      }
      
      .progress {
        background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
      }
      
      .done {
        background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
      }
      .hold {
        border: 1px dashed $grey;
        color: $white;
        background: $black;
        box-shadow: none;
      }
      .hide {
        display: none;
      }
      .hovered {
        border-top: 2px dashed $grey;
        opacity: 0.5;
      }

}


