$black: #0A0A0A;
$black2: #1E1E1E;
$black-hov: #141414;
$white: #DADADA;
$white-hov: #868686;
$grey: #515151;
$green: #CBFB45;

body.eye {
    overflow: hidden;
    background-color: $black;
    font-family: Helvetica;
    font-weight: 200;
    cursor: none;

   & p {
    font-size: 2rem;
    padding: 5%;
    color: $green;
    font-weight: 300;
   }
}