$black: #0A0A0A;
$black2: #1E1E1E;
$black-hov: #141414;
$white: #DADADA;
$white-hov: #868686;
$grey2: #515151;
$green: #CBFB45;



%menu-shortcut {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 450px;
    width: 585px;
    border-radius: 27px;
    font-size: 1.5rem;
    font-weight: 500;
    color: $white;
    background-color: $black2;
    cursor: help;
}

%menu-shortcut-hover {
    color: $white-hov;
    background-color: $black-hov;
}

body.index {
    background-color: $black;
    font-family: Inter;
    font-weight: 300;

    & a {
        text-decoration: none;
    }
    
    .container {
        padding: 2%;
        
        .block {
            display: flex;
            flex-direction: column;
            place-items: center;

            .header {
                margin: 1.5% auto;
                text-align: center;

                .animated {
                    background: linear-gradient(-45deg, #6355a4, #6355a4, #CBFB45, #CBFB45);
	                background-size: 300%;
	                text-transform: uppercase;
	                -webkit-background-clip: text;
	                -webkit-text-fill-color: transparent;
	                animation: animated_text 10s ease-in-out infinite;
	                -moz-animation: animated_text 10s ease-in-out infinite;
	                -webkit-animation: animated_text 10s ease-in-out infinite;
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 5.5rem;
                    color: $white;
                    padding-bottom: 1.5%;
                }

                @keyframes animated_text {
                    0% { background-position: 0px 50%; }
                    50% { background-position: 100% 50%; }
                    100% { background-position: 0px 50%; }
                }

                & h2 {
                    font-family: Inter;
                    font-weight: 200;
                    font-size: 1.4rem;
                    color: $white;
                    & b {
                        color: $green;
                    }
                    & a {
                        color: $green;
                        font-weight: 400;
                        &:hover {
                            color: $grey2;
                        }
                    }
                }
            }
        }
    }

    .items {
        padding-top: 2.5%;
        padding-bottom: 5%;
        width: 100%;

        .items-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(585px, 1fr));
            place-items: center;
            column-gap: 1.5%;
            row-gap: 3%
        }

        .block-shortcut-item {
            @extend %menu-shortcut;

            &:hover {
                @extend %menu-shortcut-hover;
            }

            & h2 {
                margin: 4% 0 1% 6%;
                font-size: 1.4rem;
                line-height: 1.7rem;
                font-weight: 400;
            }

            & h1 {
                margin: 4% 0 1% 6%;
                font-size: 2.5rem;
                font-weight: 500;
            }
        }
    }
}