$black: #0a0a0a;
$black2: #1e1e1e;
$black-hov: #141414;
$white: #dadada;
$white-hov: #868686;
$grey2: #515151;
$green: #cbfb45;

body.test {
   font-family: 'Inter';
   font-weight: 300;
   background-color: $black;
   color: $white;
   display: grid;
   place-items: center;
   font-size: 3rem;

   // & b {
   //    font-weight: 900;
   //    color: $green;
   // }

   .cracker {
      color: $grey2;

      & ::before {
         content: '♥ ';
         font-weight: 700;
         color: yellow;
      }
   }
}
